In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [13]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
68,tt2726560,34000000,63013281,The Longest Ride,Scott Eastwood|Britt Robertson|Lolita Davidovi...,"George Tillman, Jr.",Two couples. Two love stories. One epic tale.,The lives of a young couple intertwine with a ...,128,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment,4/9/2015,7.3,2015
528,tt0239395,60000000,93375151,Cats & Dogs,Jeff Goldblum|Elizabeth Perkins|Alexander Poll...,Lawrence Guterman,Things Are Gonna Get Hairy!,When a professor develops a vaccine that elimi...,87,Comedy|Family,Village Roadshow Pictures|NPV Entertainment|Ma...,7/4/2001,5.0,2001
220,tt1371150,19800000,41296320,This Is Where I Leave You,Jason Bateman|Tina Fey|Adam Driver|Rose Byrne|...,Shawn Levy,Welcome Home. Get Uncomfortable.,"When their father passes away, four grown, wor...",103,Drama|Comedy,Spring Creek Productions|21 Laps Entertainment...,9/10/2014,6.5,2014
57,tt2381941,50100000,153962963,Focus,Will Smith|Margot Robbie|Rodrigo Santoro|Rober...,Glenn Ficarra|John Requa,Never Drop The Con.,"A veteran grifter takes a young, attractive wo...",105,Romance|Comedy|Crime|Drama,Kramer & Sigman Films|RatPac-Dune Entertainmen...,2/25/2015,6.7,2015
1665,tt0358349,26000000,28818995,Agent Cody Banks 2: Destination London,Frankie Muniz|Anthony Anderson|Hannah Spearrit...,Kevin Allen,Adventure is an attitude.,"With all-new gadgets, high-flying action, exci...",100,Comedy,Splendid Pictures|Maverick Films|Metro-Goldwyn...,12/3/2004,5.3,2004

In [9]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [15]:
answers = {} # Create a dictionary for answers

# Create a "profit" column to calculate the profitability of a movie
data['profit'] = data.loc[:]['revenue'] - data.loc[:]['budget']

# Convert the "release_date" column to "datetime64" format
data['release_date'] = pd.to_datetime(data['release_date'])

# Create a "release_month" column which will contain months of the movie's release
data['release_month'] = data['release_date'].dt.month

# Create a "word_count" column which will contain the word count of the movie
data['word_count'] = data['overview'].apply(lambda word_amount: len(str(word_amount).split(' ')))

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  release_month         1889 non-null   int64
 16  word_count            1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 251.0+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [16]:
max_budget = data[data.budget == data.budget.max()]
max_budget['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [19]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [20]:
display(data[data.runtime == data.runtime.max()]['original_title'])

1157    Gods and Generals
Name: original_title, dtype: object

In [21]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [23]:
display(data[data.runtime == data.runtime.min()]['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

In [26]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [27]:
int(round(data['runtime'].mean(), 0))

110

In [28]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [29]:
int(round(data['runtime'].median(), 0))

107

In [31]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [32]:
# The code for getting the profit column has been moved to preprocessing
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

In [34]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [35]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [36]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [37]:
data[data.revenue > data.budget]['original_title'].count()

1478

In [38]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [40]:
# Filtering all films by 2008
small_data4 = data[(data.release_year == 2008)]
# Select the movie with the maximum revenue in the sorted dataframe
small_data4[small_data4.revenue == small_data4.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [41]:
# Second solution with sorting
data[data['release_year'] == 2008][['imdb_id', 'original_title', 'revenue']].sort_values(by = ['revenue'], ascending=False).head(1)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

In [43]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [44]:
small_data5 = data[(data['release_year'] > 2012) & (data['release_year'] <= 2014)]
small_data5[small_data5['profit'] == small_data5['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [45]:
# Second solution with sorting
data[(data['release_year'] >= 2012) & 
     (data['release_year'] <= 2014)][['imdb_id', 'original_title', 'profit']].sort_values(by = ['profit']).head(1)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [46]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [47]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [48]:
# Second solution with the creation of a series and explode
genres = pd.Series([x.split('|') for x in data['genres']]).explode().value_counts().head(1)
genres

Drama    782
dtype: int64

In [49]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [50]:
pd.DataFrame(data[data['profit'] > 0].genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [52]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [54]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False).head(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [55]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [56]:
group1 = data[data.genres.str.contains("Action", na=False)]
group2 = group1['director'].str.split('|',expand=True).stack().value_counts()
group2

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Rod Lurie             1
David Leitch          1
Gary Shore            1
Joel Schumacher       1
Alfonso CuarÃ³n       1
Length: 364, dtype: int64

In [57]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [59]:
# Grouping by 2012, explode by cast and sorting
data_sub = data[data.release_year == 2012][['cast', 'revenue']]
data_sub.cast = data_sub.cast.apply(lambda s: s.split('|'))
data_sub_exploded = data_sub.explode('cast')
data_sub_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [60]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [63]:
actor_budget = data[data['budget'] > data['budget'].mean()]
pd.DataFrame(actor_budget.cast.str.split('|').tolist()).stack().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Chris Sanders         1
Kip Pardue            1
Adam Alexi-Malle      1
George Takei          1
Johnny Whitworth      1
Length: 1505, dtype: int64

In [64]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [65]:
actor = data[data['cast'].str.contains('Nicolas Cage')]
pd.DataFrame(actor.genres.str.split('|').tolist()).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

In [67]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [68]:
param_pic = data[data['production_companies'].str.contains('Paramount Pictures')]
param_pic[param_pic['profit'] == param_pic['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [69]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [70]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [71]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [72]:
# Search among the companies which contains the name Warner Bros. and sorting
data_wb = data[data['production_companies'].str.contains('Warner Bros.')]
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [73]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [74]:
# The code for getting the release_month column has been moved to preprocessing
data.groupby('release_month')['imdb_id'].count().sort_values(ascending = False).head(1)

release_month
9    227
Name: imdb_id, dtype: int64

In [76]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [77]:
# The code for getting the release_month column has been moved to preprocessing
len(data[(data['release_month'] >= 6) & (data['release_month'] <= 8)])

450

In [78]:
# Second solution without release_month column
data[(data['release_date'].dt.month > 5) & (data['release_date'].dt.month < 9)]['imdb_id'].count()

450

In [79]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
data[(data['release_date'].dt.month < 2)|(data['release_date'].dt.month > 10)]['director'].value_counts()

Peter Jackson            8
Clint Eastwood           7
Steven Soderbergh        6
Nancy Meyers             4
Ron Howard               4
                        ..
Todd Haynes              1
Jean-FranÃ§ois Richet    1
Peter Ramsey             1
James Marsh              1
Walter Hill              1
Name: director, Length: 340, dtype: int64

In [81]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [84]:
data['title_length'] = data['original_title'].map(lambda x: len(x))

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data,'production_companies')

for gen in sum_gen.index:
    sum_gen[gen] = data['title_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()

sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                            0
Four By Two Productions    83
Jim Henson Company, The    59
Dos Corazones              47
Museum Canada Productions  46
Polsky Films               46

In [85]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [88]:
# Create a series
production_companies = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts()

# The code for getting the word_count column has been moved to preprocessing
for production_company in production_companies.index:
    production_companies[production_company] = data[data['production_companies'].str.contains(production_company)]['word_count'].mean()

# Sorting
production_companies.sort_values(ascending = False).head(1)

Midnight Picture Show    175.0
dtype: float64

In [91]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [92]:
# Solution using quantile() to calculate 1 percent
data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [93]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [94]:
from itertools import combinations

# Create an actor list using tolist()
actor_list = data.cast.str.split('|').tolist()
combo_list=[]

for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))

# Putting the list together
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Helena Bonham Carter Johnny Depp    6
Ben Stiller Owen Wilson             6
Robert Pattinson Taylor Lautner     5
Paul Walker Vin Diesel              5
Adam Sandler Kevin James            5
Kristen Stewart Robert Pattinson    5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

In [95]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [96]:
# Look at our dictionary with answers
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [97]:
# Сheck that we have solved all 27 tasks
len(answers)

27